body{
    background-image: linear-gradient(to right, black, rgba(92, 5, 92, 0.697), black);
}
.header{
    display: flex;
    justify-content:center;
    background-color: rgba(128, 128, 128, 0.099);
    border-color: grey;
    padding: 10px;    
    -webkit-text-stroke: 1px #282828;
	text-shadow: 0px 10px 10px #282828;
}

.inputField{
    display: flex;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.series{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}

h1{
    font-family: 'Crimson Text', serif;
    color: aliceblue;
    font-size: 40px;
}

a{
    color: aliceblue;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-size: 30px;

}

#search{
    flex: 1;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.732);
    border-style: hidden;
    font-size: 25px;
}

@media all and (max-width:800px){
    h1{
        font-size: 35px;
    }

    .container{
        justify-content: center;
    }

    a{
        font-size: 20px;
    }
}

@media all and (max-width:500px){
    h1{
        font-size: 30px;
    }
    img{ 
        width: 335px;
        height: 370px;
    }
    .container{
        justify-content: center;
    }
}
}
